.right {
  cursor: pointer;
}

.github {
  color: #6e5494;
}

.linkedin {
  color: #0a66c2;
}

.profile {
  color: rgb(249, 91, 91);
}

.container-image {
  position: relative;
  /* width: 50%; */
}

.image {
  opacity: 1;
  height: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
  object-fit: cover;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-image:hover .image {
  opacity: 0.3;
}

.container-image:hover .middle {
  opacity: 1;
}

.text {
  cursor: pointer;
  color: teal;
  font-size: 24px;
  font-weight: 600;
  padding: 16px 32px;
}
